#Wagah-Attari{
    width:350px;
    height:350px;
    border: solid navy 8px;
}
#Gold{
    width:350px;
    height:350px;
    border: solid navy 8px;
}
#Sop{
    width:350px;
    height:350px;
    border: solid navy 8px;
}
#108{
    width:350px;
    height:350px;
    border: solid navy 8px;
}